*~
*.o
*.a
*.d
*.pb.*
.DS_store
.*sw?
*.gz
*.html
*.tex
*.png
*.js
*.css
*.log
stamp-h1
Makefile
src/infact/html
src/infact/bin
src/infact/lib
aclocal.m4
config.h
config.status
autom4te.cache
.deps
infact.tag
